<div class="content">
  <h1 class="align-center">{{ 'PAGES.TREATMENTS_MASSAGE.TITLE' | aiTranslate | async }}</h1>
  <hr>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_MASSAGE.TYPES_TITLE' | aiTranslate | async }}</h2>
  <section class="badges-wrapper" style="padding-bottom: 1rem">
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_1' | aiTranslate | async }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_2' | aiTranslate | async }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_3' | aiTranslate | async }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_4' | aiTranslate | async }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_5' | aiTranslate | async }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_6' | aiTranslate | async }} </div>
  </section>
  <h3>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_TITLE' | aiTranslate | async }}</h3>
  <ul>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_1' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_2' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_3' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_4' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_5' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_6' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_7' | aiTranslate | async }}</li>
  </ul>
</div>

<app-info-box-coupon/>
