<div class="content">
  <h1 class="align-center">{{ 'PAGES.TREATMENTS_MASSAGE.TITLE' | translate }}</h1>
  <hr>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_MASSAGE.TYPES_TITLE' | translate }}</h2>
  <section class="badges-wrapper" style="padding-bottom: 1rem">
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_1' | translate }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_2' | translate }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_3' | translate }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_4' | translate }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_5' | translate }} </div>
    <div class="badge"> {{ 'PAGES.TREATMENTS_MASSAGE.TYPE_6' | translate }} </div>
  </section>
  <h3>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_TITLE' | translate }}</h3>
  <ul>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_1' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_2' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_3' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_4' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_5' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_6' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_MASSAGE.REASONS_LI_7' | translate }}</li>
  </ul>
  <!-- TODO: localize -->
  <br>
  <h3>Preise</h3>
  <ul>
    <li>30min - 30€</li>
    <li>60min - 50€</li>
  </ul>
</div>

<app-info-box-coupon/>
