<div class="footer__section">
  <p>
    <a routerLink="/impressum">{{'COMPONENTS.FOOTER.IMPRINT' | translate }}</a><br>
    Maryna Gruszka, Adolfstraße 65, 38102 Braunschweig<br>
    {{'COMPONENTS.FOOTER.MAIL' | translate }}: <a href="mailto: maryna@diamant-kosmetikstudio.de">maryna@diamant-kosmetikstudio.de</a><br>
    {{'COMPONENTS.FOOTER.PHONE' | translate }}: <a href="tel: 017676893292">0176&nbsp;76893292</a><br>
    {{'COMPONENTS.FOOTER.SITEMAP' | translate }}: <a routerLink="/sitemap">/sitemap</a><br>
  </p>
  <img src="favicon.svg" alt="Logo" height="80" width="98">
</div>

<div class="footer__signatures">
  <a class="footer__signatures__badge" href="https://github.com/jensmeichler" target="_blank" rel="nofollow">
    <p>
      <ng-container *ngIf="narrow$ | async; else wide">Made with</ng-container>
      <ng-template #wide>Website made with</ng-template>
      <img class="footer__signatures__badge__heart" src="assets/svg/heart.svg" width="16" height="16" alt="Heart">
      by Jens Meichler
    </p>
  </a>
</div>
