.footer__section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;

  a {
    text-decoration: underline;
  }

  transition: margin var(--transition-default-behaviour);
  @media screen {
    @media (min-width: 850px) {
      margin-left: 4rem;
      margin-right: 4rem;
    }
    @media (min-width: calc(1300px + 8rem)) {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
