:host {
  --gallery-button-width: 8rem;

  @media screen {
    @media (min-width: 650px) {
      --gallery-button-width: 12rem;
    }
  }

  display: block;
  margin-bottom: 8.5rem;
}

.gallery {
  background: var(--color-light);
  &.touched {
    background: #242424;
  }

  height: 400px;
  border-radius: 2rem;
  overflow: hidden;
  margin:
    4rem
    var(--dynamic-padding)
    -.75rem
    var(--dynamic-padding);

  @media screen {
    transition: margin var(--transition-default-behaviour);

    @media (min-width: 650px) {
      height: 60vw;
    }

    @media (min-width: 1100px) {
      height: 660px;
    }

    @media (min-width: calc(1300px + 8rem)) {
      width: 1300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;

    &__img {
      height: 100%;
      margin: 0 calc(var(--gallery-button-width) * -1) 0 calc(var(--gallery-button-width) * -1);

      animation: from-right var(--transition-default-behaviour);
      &--reverse {
        animation: from-left var(--transition-default-behaviour);
      }

      ::ng-deep img {
        width: calc(100vw - var(--dynamic-padding) * 2);
        @media screen {
          @media (min-width: calc(1300px + 8rem)) {
            width: 1300px;
          }
        }
      }
    }

    &__button {
      height: 100%;
      width: var(--gallery-button-width);
      z-index: 1;

      @media (hover: hover) {
        transition: var(--transition-default);
        &:hover {
          background: #00000044;
        }
      }
    }
  }
}

.image-title {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  width: fit-content;
  margin: -5rem auto;
  opacity: 0.7;
  background: white;
  font-weight: 700;

  transition: opacity var(--transition-default-behaviour), box-shadow var(--transition-default-behaviour);
  &[href]:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-strong);
  }
}

@keyframes from-right {
  from {
    transform: translateX(8rem);
    opacity: 0;
  }
}

@keyframes from-left {
  from {
    transform: translateX(-8rem);
    opacity: 0;
  }
}
