<div class="carousel">
  <button class="carousel__button align-center" (click)="prev()">
    <img src="assets/svg/circle-chevron-left.svg" alt="Vorheriges Bild" width="48" height="48"/>
  </button>
  <app-img
    *ngIf="selection$ | async as selection"
    class="carousel__img"
    [borderRadiusRem]="0"
    [src]="selection.src"
    [alt]="selection.alt"
    [width]="selection.width"
    [height]="selection.height"
    [class.carousel__img--reverse]="reverse$ | async"
  />
  <button class="carousel__button align-center" (click)="next()">
    <img src="assets/svg/circle-chevron-right.svg" alt="Nächstes Bild" width="48" height="48"/>
  </button>
</div>
