<div class="content">
  <h1 class="align-center">Ihr freundliches Kosmetik & Wellness Studio in Braunschweig</h1>
  <hr>
  <br>

  <ng-container *ngIf="showAdvice">
    <div class="advice">
      <ng-container *ngTemplateOutlet="callAdvice"></ng-container>
    </div>
    <br>
  </ng-container>

  <div class="grid-group">
    <article>
      <h2>Über mich</h2>
      <p>
        Seit 20 Jahren freue ich mich über zufriedene Kunden.
        <br>
        Meine Ausbildung und meine Erfahrungen helfen mir, allen Kundenwünschen gerecht zu werden.
        <br>
        12 Jahre arbeitete ich am Theater und war 8 Jahre im Außendienst für Kosmetikberatungen tätig.
        <br>
        Neben der Basis-, Klassik- und Luxusbehandlung habe ich mich auf die apparative Kosmetik spezialisiert,
        <br>
        weil sie auch in Zukunft durch ihre ständige Weiterentwicklung überraschende Ergebnisse bringen wird:
        Reverse Aging.
        <br>
        Bei mir sind Sie in den richtigen Händen und immer auf dem neuesten Stand!
      </p>
    </article>
    <img class="grid-group__img" src="assets/img/consulting/marina.webp" width="576" height="576" alt="Marina Gruszka">
  </div>

  <br>
  <hr>
  <br>

  <h2>Wir bieten unter anderem:</h2>
  <ul>
    <li>Professionelle Hautanalyse</li>
    <li>Typberatung und individuelle Produkte je nach Hauttyp</li>
    <li>Beratung für die passenden Produkte ganz individuell nach Ihrer Haut</li>
    <li>Entspannende Meditationsmusik zu der Behandlung</li>
  </ul>

  <br>
  <hr>
  <br>

  <h2>Reverse Aging Gesichtspflege</h2>
  <br>
  <p>
    Wir verwöhnen Sie mit hochwertigen Produkten aus der Natur.
    <br>
    <br>
    Außerdem arbeiten wir mit Diamant-Microdermabrasion
    (gegen Pigmentflecken, vergrößerte Poren, Altersflecken, müde und gestresste Haut, Fältchen, Akne etc.)
    und Mesoporation (für Hautverjüngung, -glättung und -straffung).
    <br>
    Soft Needling (Sanfte Hautregeneration und Liftingeffekt mit deutlich sichtbaren Ergebnissen bereits nach einer Behandlung)
    <br>
    <br>
    Für alle Behandlungen nehmen wir uns Zeit, um auf Ihre individuellen Wünsche einzugehen.
    <br>
    <br>
    Von der klassischen Schönheitsbehandlung bis zu erholsamen Massagen - unsere Mitarbeiter verwöhnen Sie gerne rundum
    und lassen jede Behandlung zu einem unvergesslichen Erlebnis werden.
  </p>
  <ul>
    <li>Kosmetik Behandlung</li>
    <li>Apparative Kosmetik</li>
    <li>Dekorative Kosmetik</li>
    <li>Produkt Beratung und mehr...</li>
  </ul>

  <br>
  <hr>
  <br>

  <h2>Unser zusätzlicher Service umfasst:</h2>
  <br>
  <p>
    Mehr als nur Kosmetik! Beim Kosmetikstudio Diamant sollen Sie sich rundherum wohlfühlen.
    Deshalb führen wir unsere üblichen Schönheitsbehandlungen in einer besonders ruhigen und angenehmen Atmosphäre durch,
    in der Sie entspannt den Alltagsstress vergessen können.
  </p>

  <ng-container *ngIf="!showAdvice">
    <br>
    <hr>
    <br>
    <ng-container *ngTemplateOutlet="callAdvice"></ng-container>
  </ng-container>
</div>

<ng-template #callAdvice>
  <h2>Sie wünschen eine individuelle Behandlung?</h2>
  <br>
  <p>
    Gerne beraten wir Sie persönlich und stellen Ihnen ein individuelles Behandlungspaket zusammen.
    <br>
    <br>
    <span class="phone">Rufen Sie einfach an unter:<a class="phone__link" href="tel: 017676893292">0176&nbsp;76893292</a></span>
  </p>
</ng-template>
