<div class="content">
  <h1 class="align-center">{{'PAGES.CONSULTING.TITLE' | aiTranslate | async}}</h1>
  <hr>
  <br>

  <ng-container *ngIf="showAdvice">
    <div class="advice secondary">
      <ng-container *ngTemplateOutlet="callAdvice"/>
    </div>
    <br>
  </ng-container>

  <div class="grid-group">
    <article>
      <h2>{{ 'PAGES.CONSULTING.ABOUT_ME_TITLE' | aiTranslate | async }}</h2>
      <p [innerHtml]="'PAGES.CONSULTING.ABOUT_ME_TEXT' | aiTranslate | async"></p>
    </article>
    <app-img class="grid-group__img" src="assets/img/consulting/maryna.webp" [width]="576" [height]="576" alt="Maryna Gruszka"/>
  </div>

  <br>
  <hr>
  <br>

  <h2>{{ 'PAGES.CONSULTING.WHAT_WE_OFFER_TITLE' | aiTranslate | async }}</h2>
  <ul>
    <li>{{ 'PAGES.CONSULTING.WHAT_WE_OFFER_LI_1' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.WHAT_WE_OFFER_LI_2' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.WHAT_WE_OFFER_LI_3' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.WHAT_WE_OFFER_LI_4' | aiTranslate | async }}</li>
  </ul>

  <br>
  <hr>
  <br>

  <h2>{{ 'PAGES.CONSULTING.REVERSE_AGING_TITLE' | aiTranslate | async }}</h2>
  <br>
  <p [innerHtml]="'PAGES.CONSULTING.REVERSE_AGING_TEXT' | aiTranslate | async"></p>
  <ul>
    <li>{{ 'PAGES.CONSULTING.REVERSE_AGING_LI_1' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.REVERSE_AGING_LI_2' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.REVERSE_AGING_LI_3' | aiTranslate | async }}</li>
    <li>{{ 'PAGES.CONSULTING.REVERSE_AGING_LI_4' | aiTranslate | async }}</li>
  </ul>

  <br>
  <hr>
  <br>

  <h2>{{ 'PAGES.CONSULTING.ADDITIONAL_SERVICE_TITLE' | aiTranslate | async }}</h2>
  <br>
  <p>
    {{ 'PAGES.CONSULTING.ADDITIONAL_SERVICE_TEXT' | aiTranslate | async }}
  </p>

  <ng-container *ngIf="!showAdvice">
    <br>
    <hr>
    <br>
    <ng-container *ngTemplateOutlet="callAdvice"/>
  </ng-container>
</div>

<ng-template #callAdvice>
  <h2>{{ 'PAGES.CONSULTING.INDIVIDUAL_TREATMENT_TITLE' | aiTranslate | async }}</h2>
  <br>
  <p>
    {{ 'PAGES.CONSULTING.INDIVIDUAL_TREATMENT_TEXT' | aiTranslate | async }}
    <br>
    <br>
    <span class="phone">
      {{ 'PAGES.CONSULTING.INDIVIDUAL_TREATMENT_CTA' | aiTranslate | async }}
      <a class="phone__link secondary" href="tel: 017676893292">0176&nbsp;76893292</a>
    </span>
  </p>
</ng-template>
