<nav class="nav-bar" [class.nav-bar--mobile]="opt.mobile" *ngIf="{mobile: $mobile | async} as opt">
  <a class="nav-bar__item nav-bar__item--home" (click)="linkClick()" routerLink="/">
    <img src="favicon.svg" width="29" height="24" alt="Kosmetik">
    <span class="nav-bar__item__logo">Diamant</span>
  </a>
  <ng-container *ngIf="opt.mobile; else desktop">
    <button class="nav-bar__item nav-bar__item--menu" aria-label="Menü öffnen" [class.nav-bar__item--menu--open]="menuOpen" (click)="toggleMenu()">
      <svg width="24" height="24" viewBox="0 0 448 383" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="nav-bar__item--menu__svg-line nav-bar__item--menu__svg-line--top" width="448" height="63" rx="30" fill="#fff"/>
        <rect class="nav-bar__item--menu__svg-line nav-bar__item--menu__svg-line--middle" width="448" height="63" rx="30" fill="#fff" y="160"/>
        <rect class="nav-bar__item--menu__svg-line nav-bar__item--menu__svg-line--bottom" width="448" height="63" rx="30" fill="#fff" y="320"/>
      </svg>
    </button>
    <div class="burger-menu burger-menu--open" *ngIf="menuOpen">
      <a class="burger-menu__item" (click)="linkClick()" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="burger-menu--active">Home</a>
      <a class="burger-menu__item" (click)="linkClick()" routerLink="/behandlungen" routerLinkActive="burger-menu--active">Behandlungen</a>
      <a class="burger-menu__item" (click)="linkClick()" routerLink="/produkte" routerLinkActive="burger-menu--active">Produkte</a>
      <a class="burger-menu__item" (click)="linkClick()" routerLink="/beratung" routerLinkActive="burger-menu--active">Beratung</a>
      <a class="burger-menu__item" (click)="linkClick()" routerLink="/kontakt" routerLinkActive="burger-menu--active">Kontakt</a>

      <hr class="burger-menu__item--splitter">

      <a class="burger-menu__item burger-menu__item--button" href="tel: 017676893292">
        <img src="assets/svg/phone.svg" alt="" height="20" width="20">
        <span>Anrufen</span>
      </a>
      <a class="burger-menu__item burger-menu__item--button" [href]="geoLink" target="_blank">
        <img src="assets/svg/location-dot.svg" alt="" height="27" width="20">
        <span>Anfahrt</span>
      </a>
    </div>
  </ng-container>
  <ng-template #desktop>
    <a class="nav-bar__item" (click)="linkClick()" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-bar__item--active">Home</a>
    <a class="nav-bar__item" (click)="linkClick()" routerLink="/behandlungen" routerLinkActive="nav-bar__item--active">Behandlungen</a>
    <a class="nav-bar__item" (click)="linkClick()" routerLink="/produkte" routerLinkActive="nav-bar__item--active">Produkte</a>
    <a class="nav-bar__item" (click)="linkClick()" routerLink="/beratung" routerLinkActive="nav-bar__item--active">Beratung</a>
    <a class="nav-bar__item" (click)="linkClick()" routerLink="/kontakt" routerLinkActive="nav-bar__item--active">Kontakt</a>
  </ng-template>
</nav>
