.nav-bar {
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .burger-menu {
    z-index: 100;
    position: absolute;
    top: 4rem;
    right: 0;
    height: calc(100vh - 6rem);
    padding: 1rem;
    background: var(--color-secondary);
    box-shadow: -5px 5px 15px 0px rgba(0,0,0,0.5);
    animation: burger-menu-animation ease-in-out 160ms;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__group {
      display: flex;
      flex-direction: column;

      &__item {
        margin: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-primary-contrast);

        &--button {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }

  &--mobile {
    justify-content: space-between;

    .nav-bar__item {
      margin: 1rem;
      font-size: 2rem;

      &--menu {
        opacity: 1;
      }
    }
  }

  @media screen {
    @media (min-width: 768px) {
      font-size: larger;
    }
  }

  &__item {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary-contrast) !important;

    &--home {
      margin: 1rem;
      font-size: 2rem;
      span {
        color: var(--color-secondary);
      }
      img {
        margin-right: 1rem;
      }
    }

    &::after {
      content: ' ';
      display: block;
      width: 0;
      height: 2px;
      transition: all 160ms ease-in-out;
    }

    &:not(&--home, &--menu):hover,
    &--active:not(&--home, &--menu) {
      &::after {
        width: 100%;
        background: var(--color-primary-contrast);
      }
    }
  }
}

@keyframes burger-menu-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
