.nav-bar {
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 2.1vw;
  @media screen and (min-width: 850px) {
    gap: 1rem;
    font-size: 1.125rem;
  }

  .burger-menu {
    z-index: 100;
    position: absolute;
    top: 4rem;
    right: 0;
    height: calc(100vh - 6rem);
    min-width: 70vw;
    padding: 1rem;
    background: var(--color-secondary);
    box-shadow: -5px 5px 15px 0px #0000007f;
    animation: burger-menu-animation ease-in-out 160ms;

    display: flex;
    flex-direction: column;

    &__item {
      padding: 1rem;
      font-size: 1.25rem;
      color: var(--color-primary-contrast);

      &--splitter {
        width: calc(100% - 2rem);
        margin: 1rem;
        border-color: var(--color-primary-contrast);
      }

      &--button {
        display: flex;
        gap: 1rem;
      }
    }
  }

  &--mobile {
    justify-content: space-between;

    .nav-bar__item {
      font-size: 2rem;

      &--menu {
        &--open .nav-bar__item--menu__svg-line {
          transition: var(--transition-default);
          &--top {
            transform: translate(20%, 3%) rotate(45deg);
          }
          &--middle {
            transform: translateX(50%) scaleX(0);
          }
          &--bottom {
            transform: translate(-40%, 27%) rotate(-45deg);
          }
        }
      }
    }
  }

  &__item {
    cursor: pointer;
    color: var(--color-primary-contrast) !important;

    &--home {
      margin: 0 1rem;
      font-size: 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      .nav-bar__item__logo {
        color: var(--color-secondary);
      }
    }

    &--menu {
      display: flex;
      height: 100%;
      width: 4rem;
      justify-content: center;
      align-items: center;
    }

    &:not(&--home, &--menu)::after {
      content: ' ';
      display: block;
      width: 0;
      height: 2px;
      transition: var(--transition-default);
    }

    &:not(&--home, &--menu):hover,
    &--active:not(&--home, &--menu) {
      &::after {
        width: 100%;
        background: var(--color-primary-contrast);
      }
    }
  }
}

@keyframes burger-menu-animation {
  from {
    transform: translateX(50%) scaleX(0);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

.language-switcher {
  display: flex;
  margin-left: 1rem;

  &:hover .flag {
    border-radius: .375rem;
    outline-width: .25rem;
    filter: brightness(1.05);
  }
}

.flag {
  outline: .125rem solid white;
  border-radius: .5rem;
  transition: var(--transition-default-fast);
}
