.floating-whatsapp-button {
  position: fixed;
  top: 15rem;
  right: 0;
  z-index: 100;
  background: var(--color-whatsapp);
  display: flex;
  padding: 1rem;
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  box-shadow: var(--box-shadow-light);
  transition: var(--transition-default);
}

.photo {
  width: calc(50% - .5rem);
  float: left;
  margin: 0 1rem .25rem 0;

  @media screen {
    @media (max-width: 649px) {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
}

.grid-group {
  display: grid;
  grid-gap: 2rem;

  transition: grid-template-columns var(--transition-default-behaviour);
  @media screen {
    @media (min-width: 650px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 850px) {
      grid-template-columns: 1fr 2fr;
    }
  }
}
