.phone {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__link {
    font-size: 1.25em;
    background: var(--color-secondary);
    color: var(--color-secondary-contrast);
    text-decoration: none;
    padding: .25em .5em;
    border-radius: .75rem;
  }
}

.grid-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
