<div class="content">
  <h1 class="align-center">{{ 'PAGES.TREATMENTS_WELLNESS.TITLE' | translate }}</h1>
  <hr>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_WELLNESS.DRAINAGE_TITLE' | translate }}</h2>
  <br>
  <p style="padding-bottom: 1rem" [innerHtml]="'PAGES.TREATMENTS_WELLNESS.DRAINAGE_TEXT' | translate">
  </p>
  <ul>
    <li>{{ 'PAGES.TREATMENTS_WELLNESS.DRAINAGE_PRICE_1' | translate }}</li>
    <li>{{ 'PAGES.TREATMENTS_WELLNESS.DRAINAGE_PRICE_2' | translate }}</li>
  </ul>
</div>

<app-info-box-coupon/>
