html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  background: var(--color-primary);
}

body {
  margin: 0;
  font-family: 'Red Hat Display', "Helvetica Neue", sans-serif;
}

p, a {
  margin: 0;
}

a {
  cursor: pointer;
}

ul {
  margin: .5rem 0;
}

button {
  all: unset;
  cursor: pointer;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

img {
  object-fit: cover;
  object-position: 50%;
  &:not([src$=".svg"]) {
    border-radius: 2rem;
  }
}

@media screen {
  @media (max-width: 849px) {
    h1 { font-size: 1.25rem; margin: 1.25rem 0 1rem 0 }
    h2 { font-size: 1.125rem; margin: .5rem 0 .375rem 0 }
    h3 { font-size: 1rem; margin: .25rem 0 .125rem 0 }
  }
  @media (min-width: 850px) {
    h1 { font-size: 1.5rem; margin: 1.5rem 0 1.25rem 0 }
    h2 { font-size: 1.25rem; margin: .75rem 0 .5rem 0 }
    h3 { font-size: 1.125rem; margin: .5rem 0 .25rem 0 }
  }
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  text-align: left;
  font-weight: 500;
}

strong {
  font-weight: 500;
}

.content {
  padding: 0 4rem 2rem 4rem;
  text-align: justify;

  @media screen {
    @media (max-width: 849px) {
      padding: 0 1rem 1rem 1rem;
    }
    @media (min-width: 1300px) {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}

.primary {
  background: var(--color-primary);
  color: var(--color-primary-contrast);
}

.secondary {
  background: var(--color-secondary);
  color: var(--color-secondary-contrast);

  &.hover {
    transition: var(--transition-default);
    &:hover {
      background: var(--color-secondary-active);
      box-shadow: var(--box-shadow-strong);
    }
  }
}

:root:has(.burger-menu--open) {
  .main__content, .footer {
    overflow: hidden;
    pointer-events: none;
    filter: brightness(0.5);
    transition: var(--transition-default);
    touch-action: none;
  }
}

::selection {
  background: var(--color-secondary);
  color: white;
}

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}
