:root {
  --color-primary: #1a3a56;
  --color-primary-contrast: #ffffff;
  --color-secondary: #5e9ea3;
  --color-secondary-contrast: #000000;
  --color-secondary-active: #74b2b7;
  --color-secondary-active-contrast: black;
  --color-light: #0000000d;
  --color-light-contrast: #000000;
  --box-shadow-light: 0px 8px 15px #00000019;
  --box-shadow-strong: 0px 8px 15px #00000028;
}
