:root {
  --color-background: #ffffff;
  --color-primary: #1a3a56;
  --color-primary-contrast: #ffffff;
  --color-secondary: #5e9ea3;
  --color-secondary-contrast: #000000;
  --color-secondary-active: #74b2b7;
  --color-secondary-active-contrast: black;
  --color-highlight: #ffba3d;
  --color-highlight-contrast: #000000;
  --color-highlight-active: #ffaf38;
  --color-highlight-active-contrast: black;
  --color-light: #f2f2f2;
  --box-shadow-light: 0px 8px 15px #00000019;
  --box-shadow-strong: 0px 8px 15px #00000028;
  --box-shadow-slim-strong: #0000000f 0px 0px 0.25rem 0px, #0000001e 0px 0.25rem 0.25rem 0px;
  --transition-default-behaviour: 0.16s ease-in-out;
  --transition-default: all var(--transition-default-behaviour);
  --dynamic-padding: 1rem;
  --dynamic-padding-2x: 2rem;
  @media screen {
    @media (min-width: 850px) {
      --dynamic-padding: 4rem;
      --dynamic-padding-2x: 4rem;
    }
  }
}
