<div class="content">
  <h1 class="align-center">Sitemap</h1>
  <hr>
  <br>

  <ul>
    <li>
      <h2>
        <a routerLink="/">Home</a>
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/behandlungen">Behandlungen</a>
      </h2>
      <ul>
        <li>
          <h3>
            <a routerLink="/behandlungen/gesichtsbehandlung">Gesichtsbehandlungen</a>
          </h3>
        </li>
        <li>
          <h3>
            <a routerLink="/behandlungen/massagen">Massage</a>
          </h3>
        </li>
        <li>
          <h3>
            <a routerLink="/behandlungen/wellnesspakete">Wellness</a>
          </h3>
        </li>
      </ul>
    </li>
    <li>
      <h2>
        <a routerLink="/produkte">Produkte</a>
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/beratung">Beratung</a>
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/kontakt">Kontakt</a>
      </h2>
    </li>
  </ul>
</div>
