.header {
  position: sticky;
  top: 0;
  height: 4rem;
  z-index: 100;
  box-shadow: var(--box-shadow-header);
}

.main {
}

.footer {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
