.home-title {
  margin-top: 2rem;
}

.contact-link {
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  grid-column: 2;
  font-size: large;
}

.card {
  background: var(--color-light);
  border-radius: 1rem;
  overflow: hidden;

  &:has(&__link-group) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    padding: 1rem;
  }

  &__img {
    width: 100%;
    border-radius: 0;
  }

  &__link-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 1rem 1rem 1rem;

    &__link {
      padding: .75rem 1rem;
      border-radius: 1rem;
      flex: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  transition: box-shadow var(--transition-default-behaviour);
  &--link {
    cursor: pointer;
    &:hover {
      box-shadow: var(--box-shadow-strong);
    }
  }
  &:has(&__img:hover) {
    box-shadow: var(--box-shadow-strong);
  }

  margin-bottom: 1rem;
}

.grid-group {
  @media screen {
    @media (max-width: 649px) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 650px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1rem;
    }
  }
}

.monthly-offer {
  margin-top: -1rem;

  &__title {
    display: block;

    @media screen {
      @media (max-width: 649px) {
        width: 100%;
        margin-top: -5px;
      }

      @media (min-width: 650px) and (max-width: 849px) {
        width: 12rem;
        position: absolute;
        top: 40vw;
        left: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      @media (min-width: 850px) {
        width: 12rem;
        position: absolute;
        top: 10rem;
        right: calc(75vw - 8rem);
        border-radius: 1rem;
      }

      @media (min-width: 2600px) {
        right: calc(50vw + 523px);
      }
    }
  }

  &__price {
    display: block;
    min-width: 6rem;

    @media screen {
      @media (max-width: 649px) {
        width: 100%;
        margin-top: -5px;
      }

      @media (min-width: 650px) and (max-width: 849px) {
        position: absolute;
        top: calc(20vw - 20px);
        right: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      @media (min-width: 850px) {
        position: absolute;
        top: calc(20vw - 2rem);
        left: calc(75vw - 3rem);
        border-radius: 1rem;
      }

      @media (min-width: 1900px) {
        top: 350px;
      }

      @media (min-width: 2600px) {
        left: calc(50vw + 602px);
      }
    }
  }

  &__img {
    max-width: 1300px;

    transition: var(--transition-default);
    @media screen {
      @media (max-width: 849px) {
        width: 100%;
        height: 70vw;
        margin-top: -50px;
        margin-bottom: -100px;
        clip-path: inset(0 0 100px 0)
      }
      @media (min-width: 850px) {
        width: 50vw;
        height: 40vw;
        margin-top: -25px;
        margin-bottom: -75px;
        clip-path: inset(2.5rem 0 100px 0 round 2rem)
      }
      @media (min-width: calc(1300px + 8rem)) {
        height: 572px;
      }
    }
  }

  &__body {
    margin-top: -5px;
    display: block;
    width: 100%;

    transition: var(--transition-default);
    @media screen {
      @media (min-width: 850px) {
        background: var(--color-light);
      }
    }
  }
}

.m {
  padding: 1rem 0;
  margin: 0 1rem;
}

.fancy-text p {
  margin: 1rem 0;
}
