<ng-container *ngIf="{isMobile: mobile$ | async} as view">
  <div class="monthly-offer align-center">
    <app-img (click)="treatments.scrollTo('diamant-microdermabrasion')" class="monthly-offer__img" src="assets/img/home/aqua-splash.webp" [width]="830" [height]="580" alt="Angebot" [hover]="true" [priority]="1"/>
    <div (click)="treatments.scrollTo('diamant-microdermabrasion')" class="monthly-offer__title secondary hover">
      <p class="m">
        <strong>Sonderangebot:</strong>
        <br>
        Diamant Microdermabrasion (90 Min)
      </p>
    </div>
    <span class="monthly-offer__body secondary align-center" *ngIf="!view.isMobile; else mobile">
      <p class="content align-center m">
        Die apparative Reinigung wird Ihre Haut optimal
        vorbereiten, um die wertvollen Wirkstoffe aufzunehmen! Nach der Augenbrauenkorrektur wird je nach Hauttyp der
        passende Wirkstoff auf die Haut aufgetragen. Sofort Effekt mit Langzeitwirkung und ein
        strahlendes Hautbild.<br>
        Hinzu kommt eine Maske, die sowohl auf das Gesicht als
        auch auf das Dekolleté einmassiert wird. Ihre Haut bekommt ein jugendliches Erscheinungsbild mit
        Lifting-Effekt.
      </p>
    </span>
    <ng-template #mobile>
      <span class="monthly-offer__body secondary">
        <p [class.hidden]="readMore" class="m">
          Die apparative Reinigung wird Ihre Haut optimal
          vorbereiten, um die wertvollen Wirkstoffe aufzunehmen! Nach der... <button (click)="readMore = !readMore">weiter lesen</button>
        </p>
        <p [class.hidden]="!readMore" class="m">
          Die apparative Reinigung wird Ihre Haut optimal
          vorbereiten, um die wertvollen Wirkstoffe aufzunehmen! Nach der Augenbrauenkorrektur wird je nach Hauttyp der
          passende Wirkstoff auf die Haut aufgetragen. Sofort Effekt mit Langzeitwirkung und ein
          strahlendes Hautbild.<br> Hinzu kommt eine Maske, die sowohl auf das Gesicht als
          auch auf das Dekolleté einmassiert wird. Ihre Haut bekommt ein jugendliches Erscheinungsbild mit
          Lifting-Effekt.
        </p>
      </span>
    </ng-template>
    <div class="monthly-offer__price secondary">
      <p class="m">75,00 €</p>
    </div>
  </div>

  <div class="content">
    <h1 class="home-title align-center">Ihr Kosmetikstudio in Braunschweig für professionelle Gesichtspflege</h1>
    <div class="grid-group">
      <div class="card">
        <app-img routerLink="/beratung" class="card__img" src="assets/img/home/marina.webp" [width]="399" [height]="300" alt="Marina Gruszka" [hover]="true" [priority]="2"/>
        <p class="card__text">
          Pflegeprodukte und Kosmetik aus der Natur. Erfahrung seit 20 Jahren und seit 10 in Braunschweigs
          Kosmetikstudio - Schönheit neu erleben!
        </p>
        <div class="card__link-group">
          <a routerLink="/produkte" class="card__link-group__link secondary hover">Zu unseren Produkten</a>
          <a routerLink="/beratung" class="card__link-group__link secondary hover">Über mich</a>
        </div>
      </div>

      <div class="card">
        <app-img routerLink="/behandlungen" class="card__img" src="assets/img/home/facial-treatments.webp" [width]="399" [height]="300" alt="Mesoporation" [hover]="true"/>
        <p class="card__text">
          Das Kosmetikgeheimnis der Hollywoodstars:<br>
          Mesoporation - sensationelle Ergebnisse in kurzer Zeit. Jetzt in Ihrem Kosmetikstudio in Braunschweig.
        </p>
        <div class="card__link-group">
          <a routerLink="/behandlungen" class="card__link-group__link secondary hover">Zu unseren Behandlungen</a>
        </div>
      </div>

      <a class="card card--link" routerLink="/beratung" [queryParams]="{showAdvice: true}">
        <app-img class="card__img" src="assets/img/home/consulting.webp" [width]="399" [height]="300" alt="Beratung" [hover]="true"/>
        <p class="card__text">
          <strong>Beratung:</strong><br>
          Machen Sie sich das Leben leicht: Wir beraten Sie in allen Fragen der Schönheit und empfehlen Ihnen
          individuell die passende Kosmetik, um Ihr Leben in Braunschweig leichter und angenehmer zu
          machen.
        </p>
      </a>
    </div>
  </div>

  <article class="content fancy-text">
    <h2>Diamant Kosmetik Ihr anti-aging Kosmetikstudio in Braunschweig</h2>
    <p>
      Wollen Sie erfahren, was sich gerade Neues tut in Sachen Schönheit und Kosmetik? Wollen sie wissen, wie die
      neue Technik die Kosmetikstudios unterstützt und was es Neues für die Haut in
      Braunschweig gibt? Ihr freundliches Kosmetikstudio zeigt Ihnen einfache Wege. Es ist wirklich easy! Diamant
      Kosmetik in Braunschweig bringt es auf den Punkt. Gesichtsbehandlung mit Mikrodermabrasion
      wird in unserem Kosmetikstudio praktiziert - eine effektive Methode, um die richtigen Wirkstoffe in die tiefsten
      Hautschichten zu transportieren. Mesoporation - das Neueste in der apparativen
      Hautkosmetik. Diamant Kosmetik - Ihr Kosmetikstudio steht Ihnen mit Rat und Tat zur Verfügung! Probieren Sie es
      aus und Sie werden begeistert sein.
    </p>
    <p>
      Natürlich schön sein! Ihr freundliches Kosmetikstudio in Braunschweig hat die Naturprodukte und Kosmetik, die Sie
      haben wollen. Klicken Sie auf Produkte und wählen Sie das für Sie Passende aus.
    </p>
    <p>
      Diamant Kosmetik - Schönheit neu erleben, Ihr freundliches Kosmetikstudio in Braunschweig ist auch immer mit den
      aktuellen Make-up-Trends für Sie präsent. Ob im Job oder am Abend, wir bieten Looks
      für jede Gelegenheit. Wir haben die aktuellen Nuancen für Sie ausgesucht: Gold und rosa oder pink und rot? Diamant
      Kosmetik in Braunschweig macht es möglich und Sie fühlen sich wohl in Ihrer
      Haut!
    </p>
    <p>
      Nach neuesten Erkenntnissen kann die Umwelt die Haut krank machen. Das bestätigt eine Studie eines bekannten
      Kosmetikherstellers. Betroffen sind vor allem Städte, weil Feinstaub durch Autos und
      Industrie entsteht. Diamant Kosmetik, Ihr Kosmetikstudio in Braunschweig, weiß Rat. Wir können Sie beraten.
      Beauty-News und Beauty-Trends, das bietet Ihnen Ihr Kosmetikstudio in Braunschweig. In der
      Rubrik Gesichtsbehandlungen finden Sie auf unserer Homepage dekorative Kosmetik, Luxusbehandlungen,
      Hochzeitsmakeup und vieles mehr. Diamant Kosmetikstudio ist besonders spezialisiert und erfahren in
      Anti-Aging, für Hautverjüngung, zur Prävention von Hautalterung, Straffung und Aufpolsterung der Haut.
    </p>
    <p>
      Was die Kunden sagen:
    </p>
    <p>
      <em>
        "Alles in allem liebe ich es in mein Kosmetikstudio Diamant zu gehen und bin jedes Mal total glücklich mit dem Ergebnis.
        Aus diesem Grund kann ich es nur jedem ans Herz legen, dem Kosmetikstudio Diamant in Braunschweig einen Besuch abzustatten."
      </em>
    </p>
  </article>

  <br>

  <div class="content">
    <section class="grid-group">
      <a routerLink="/kontakt" class="contact-link align-center secondary hover" [class.contact-link--mobile]="view.isMobile">
        Kommen Sie doch einfach mal vorbei!
      </a>
    </section>
  </div>

  <br>

  <app-treatments-explanations #treatments/>

  <br>
  <br>
  <hr>
  <br>
  <br>

  <app-rating/>
</ng-container>
