<div class="content">
  <article class="explanations">
    <div class="explanations__item">
      <div class="explanations__item__text">
        <h3 class="h2" id="diamant-microdermabrasion">{{'TREATMENTS_EXPLANATIONS.DIAMOND_MICRODERM_TITLE' | translate}}</h3>
        <p [innerHtml]="'TREATMENTS_EXPLANATIONS.DIAMOND_MICRODERM_TEXT' | translate">
        </p>
      </div>

      <app-img class="explanations__item__img" src="assets/img/home/aqua-splash.webp" [width]="830" [height]="580"/>
    </div>

    <div class="explanations__item">
      <div class="explanations__item__text">
        <h3 class="h2" id="micro-needling">{{'TREATMENTS_EXPLANATIONS.MICRO_NEEDLING_TITLE' | translate}}</h3>
        <p [innerHtml]="'TREATMENTS_EXPLANATIONS.MICRO_NEEDLING_TEXT' | translate"></p>
      </div>

      <app-img class="explanations__item__img explanations__item__img--tall" src="assets/img/treatments/facial-treatment.webp" [width]="499" [height]="461"/>
    </div>

    <div class="explanations__item">
      <div class="explanations__item__text">
        <h3 class="h2" id="lymphdrainage">{{'TREATMENTS_EXPLANATIONS.LYMPH_DRAINAGE_TITLE' | translate}}</h3>
        <p [innerHtml]="'TREATMENTS_EXPLANATIONS.LYMPH_DRAINAGE_TEXT' | translate"></p>
      </div>

      <app-img class="explanations__item__img explanations__item__img--tall" src="assets/img/treatments/wellness.webp" [width]="640" [height]="427"/>
    </div>

    <div class="explanations__item">
      <div class="explanations__item__text">
        <h3 class="h2" id="mesoporation">{{'TREATMENTS_EXPLANATIONS.MESOPORATION_TITLE' | translate}}</h3>
        <p [innerHtml]="'TREATMENTS_EXPLANATIONS.MESOPORATION_TEXT' | translate"></p>
      </div>

      <a class="explanations__item__img explanations__item__img--button align-center" routerLink="/behandlungen">
        <h3 class="align-center" style="margin-bottom: 1rem">{{'TREATMENTS_EXPLANATIONS.OTHERS_TITLE' | translate}}</h3>
        <div [innerHtml]="'TREATMENTS_EXPLANATIONS.OTHERS_TEXT' | translate"></div>
      </a>
    </div>
  </article>
</div>
