<div class="content">
  <h1 class="align-center">{{ 'PAGES.TREATMENTS_FACE.TITLE' | translate }}</h1>
  <hr>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_FACE.SKIN_VACATION_TITLE' | translate }}</h2>
  <p style="padding-bottom: .5rem" [innerHtml]="'PAGES.TREATMENTS_FACE.SKIN_VACATION_TEXT' | translate">
  </p>
  <p>{{ 'PAGES.TREATMENTS_FACE.SKIN_VACATION_PRICE' | translate }}</p>

  <br>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_FACE.ACNE_TITLE' | translate }}</h2>
  <p style="padding-bottom: .5rem" [innerHtml]="'PAGES.TREATMENTS_FACE.ACNE_TEXT' | translate">
  </p>
  <p>{{ 'PAGES.TREATMENTS_FACE.ACNE_PRICE_1' | translate }}</p>
  <p>{{ 'PAGES.TREATMENTS_FACE.ACNE_PRICE_2' | translate }}</p>

  <br>
  <br>

  <div class="grid-group">
    <div>
      <h2>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_TITLE' | translate }}</h2>
      <p>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_CLASSIC_TITLE' | translate }}</p>
      <ul>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_CLASSIC_LI_1' | translate }}</li>
      </ul>
      <p>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_AGING_TITLE' | translate }}</p>
      <ul>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_AGING_LI_1' | translate }}</li>
      </ul>
      <p>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_WELLNESS_TITLE' | translate }}</p>
      <ul>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_WELLNESS_LI_1' | translate }}</li>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_WELLNESS_LI_2' | translate }}</li>
      </ul>
      <p>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_DEKO_TITLE' | translate }}</p>
      <ul>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_DEKO_LI_1' | translate }}</li>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_DEKO_LI_2' | translate }}</li>
        <li>{{ 'PAGES.TREATMENTS_FACE.ADD_ONS_DEKO_LI_3' | translate }}</li>
      </ul>
    </div>

    <app-img src="assets/img/treatments/cnc-treatment.webp" alt="Gesichtsbehandlung" [width]="1332" [height]="757"/>
  </div>


  <br>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_FACE.MICRODERM_ABRASION_TITLE' | translate }}</h2>
  <p style="padding-bottom: .5rem" [innerHtml]="'PAGES.TREATMENTS_FACE.MICRODERM_ABRASION_TEXT' | translate">
  </p>
  <p>{{ 'PAGES.TREATMENTS_FACE.MICRODERM_ABRASION_PRICE' | translate }}</p>
  <br>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_FACE.MICRONEEDLING_ABRASION_TITLE' | translate }}</h2>
  <p style="padding-bottom: .5rem" [innerHtml]="'PAGES.TREATMENTS_FACE.MICRONEEDLING_ABRASION_TEXT' | translate">
  </p>
  <p>{{ 'PAGES.TREATMENTS_FACE.MICRONEEDLING_ABRASION_PRICE' | translate }}</p>

  <br>
  <br>

  <h2>{{ 'PAGES.TREATMENTS_FACE.ANTI_AGING_DELUXE_TITLE' | translate }}</h2>
  <p style="padding-bottom: .5rem" [innerHtml]="'PAGES.TREATMENTS_FACE.ANTI_AGING_DELUXE_TEXT' | translate">
  </p>
  <p>{{ 'PAGES.TREATMENTS_FACE.ANTI_AGING_DELUXE_PRICE' | translate }}</p>
</div>

<app-info-box-coupon/>
