<div class="content">
  <h1 class="align-center">Gesichtsbehandlungen</h1>
  <hr>
  <br>
  <h2>Klein-Urlaub für Ihre Haut</h2>
  <p style="padding-bottom: .5rem">
    Nach der Hautanalyse, Hautreinigung + Peeling werden die Unreinheiten leicht ausgereinigt und die Augenbrauen in Form gebracht.
    Eine feuchtigkeitsspendende Maske ist ein MUSS für jeden Hauttyp! Zum Abschluss der Behandlung wird eine Tagespflege aufgetragen.
  </p>
  <p>(ca. 60 Min)  60, 00</p>

  <br>
  <br>

  <h2>Pure Skin (Aknebehandlung)</h2>
  <p style="padding-bottom: .5rem">
    Akne ist einer der häufigsten Hauterkrankung und unser größter Feind!
    Es kommt zur vermehrten Talgproduktion, die die Poren der Haut verstopft.
    Durch die Verhornung auf der Haut kann der Talg nicht normal abfließen.
    <br>
    <br>
    Behandlung gegen alle Faktoren der Akne ausgesucht wurden.
    <br>
    Bei: entzündlicher Akne, Aknenarben und Hyperpigmentierung.
  </p>
  <p>(ca. 60-90 Min) Ab 60,00</p>
  <p>(Kur 3 Behandlungen) Ab 120,00 €</p>

  <br>
  <br>

  <h2>Was Sie zu Ihrer Behandlung dazu buchen können</h2>
  <p>Statt klassisches Peeling:</p>
  <ul>
    <li>Diamant - Microdermabrasion (Intensives Peeling zusätzlich) 15€</li>
  </ul>
  <p>Verjüngerungs-Cocktail:</p>
  <ul>
    <li>Softneedeling (nur in Paket erhältlich)</li>
  </ul>
  <p>Eine schöne Entspannung:</p>
  <ul>
    <li>Gesichtsmassage 30,00€</li>
    <li>Lymphdrainage-Hose für 40-60 min ab 30,00€</li>
  </ul>
  <p>Dekorative Kosmetik:</p>
  <ul>
    <li>Tages Make-up 30,00€</li>
    <li>Abend Make-up 59,00€</li>
    <li>Hochzeits Make-up 120,00€</li>
  </ul>

  <br>
  <br>

  <h2>Beauty Relax</h2>
  <p style="padding-bottom: .5rem">
    Durch diese Behandlung schweben Sie wie auf Wolken :)
    <br>
    Nach der klassischen Hautreinigung werden Ihre Augenbrauen in Form gebracht und eine feuchtigkeitsspendende Maske aufgetragen.
    <br>
    In der Einwirkzeit der Maske werden Ihre Hände massiert und anschließend erwartet Sie eine entspannende Gesichtsmassage. Zum Schluss erhalten Sie eine Abschlusspflege.
  </p>
  <p>(ca. 75min) 112,00€</p>

  <br>
  <br>

  <h2>Straffung & Verjüngerung Deluxe</h2>
  <p style="padding-bottom: .5rem">
    Die apparative Reinigung ( Microdermabrasion) wird Ihre Haut optimal vorbereiten, um die wertvollen Wirkstoffe aufzunehmen!
    Nach der Augenbrauenkorrektur wird je nach Hauttyp der passende Wirkstoff auf die Haut aufgetragen.
    <br>
    Hinzu kommt eine Maske, die sowohl auf das Gesicht als auch auf das Dekolleté  einmassiert wird.
    Ihre Haut bekommt ein jugendliches Erscheinungsbild mit Lifting-Effekt.
  </p>
  <p>(ca. 90 min) 139,00€</p>
</div>

<br>
