<section class="content">
  <h2>Nicht dabei was Sie suchen?</h2>
  <p>Rufen Sie einfach unter <a style="color: currentColor" href="tel: 017676893292">017676893292</a> an für eine individuelle Beratung.</p>
</section>

<div class="info-message-wrapper">
  <section class="content">
    <div class="info-message secondary align-center">
      <h3 class="align-center">Unser Gutschein: Verschenken Sie Entspannung!</h3>
      <p class="align-center">Selbstverständlich können Sie alle angebotenen Behandlungen bei uns auch in Form von Gutscheinen erwerben.</p>
    </div>
  </section>
</div>
