<br>

<section class="content">
  <h2>{{'INFO_BOX_COUPON.NOT_WHAT_YOU_WANT' | translate}}</h2>
  <p>{{'INFO_BOX_COUPON.CALL_AT_1' | translate}} <a style="text-decoration: underline" href="tel: 017676893292">017676893292</a> {{'INFO_BOX_COUPON.CALL_AT_2' | translate}}</p>
</section>

<div class="info-message-wrapper">
  <section class="content">
    <div class="info-message secondary align-center">
      <h3 class="align-center">{{'INFO_BOX_COUPON.OUR_VOUCHER_TITLE' | translate}}</h3>
      <p class="align-center">{{'INFO_BOX_COUPON.OUR_VOUCHER_TEXT' | translate}}</p>
    </div>
  </section>
</div>
