.info-message-wrapper::before {
  display: block;
  height: 8rem;
  margin-top: 5rem;
  margin-bottom: -16rem;
  content: " ";
  background: var(--color-primary);
}

.info-message {
  transform: translateY(5rem);
  padding: 1rem;
  border-radius: 1rem;

  * {
    color: var(--color-secondary-contrast);
  }
}
