<br>

<section class="content">
  <h2>{{'COMPONENTS.INFO_BOX_COUPON.NOT_WHAT_YOU_WANT' | aiTranslate | async}}</h2>
  <p>{{'COMPONENTS.INFO_BOX_COUPON.CALL_AT_1' | aiTranslate | async}} <a style="text-decoration: underline" href="tel: 017676893292">017676893292</a> {{'COMPONENTS.INFO_BOX_COUPON.CALL_AT_2' | aiTranslate | async}}</p>
</section>

<div class="info-message-wrapper">
  <section class="content">
    <div class="info-message secondary align-center">
      <h3 class="align-center">{{'COMPONENTS.INFO_BOX_COUPON.OUR_VOUCHER_TITLE' | aiTranslate | async}}</h3>
      <p class="align-center">{{'COMPONENTS.INFO_BOX_COUPON.OUR_VOUCHER_TEXT' | aiTranslate | async}}</p>
    </div>
  </section>
</div>
