.rating {
  padding: 1rem;

  &__button {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: var(--radius-xl);
    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--color-highlight-active-contrast);

    &__text {
      transition: color var(--transition-default-behaviour);
    }
    &__stars {
      transition: color var(--transition-default-behaviour);
    }
    &:hover {
      background: var(--color-rating-hover-bg);
      .rating__button__text {
        color: var(--color-surface);
      }
      .rating__button__stars {
        color: var(--color-highlight-active);
      }
    }
  }
}
