<div class="content align-center">
  <h3 class="h2 align-center">Wir schätzen Ihre Meinung!</h3>
  <p>
    Wenn Sie mit unserem Service zufrieden waren, würden wir uns freuen,
    wenn Sie eine Bewertung für unser Kosmetikstudio hinterlassen könnten.
    <br>
    Ihre Erfahrungen helfen nicht nur uns, sondern auch anderen, die nach einem vertrauenswürdigen Studio suchen.
    <br>
    Teilen Sie Ihre Gedanken und unterstützen Sie uns dabei, unsere Dienstleistungen stetig zu verbessern.
    <br>
    <br>
    Vielen Dank im Voraus!
  </p>
</div>

<div class="rating align-center">
  <a class="rating__button highlight hover" target="_blank" href="https://www.google.com/search?q=Diamant+Kosmetik+-+Sch%C3%B6nheit+neu+erleben+Braunschweig&sca_esv=5278b46dd4ebd301&ei=ZcvKZbakOabY7_UPlP2vkA0&ved=0ahUKEwj26vCwmqeEAxUm7LsIHZT-C9IQ4dUDCBA&uact=5&oq=Diamant+Kosmetik+-+Sch%C3%B6nheit+neu+erleben+Braunschweig&gs_lp=Egxnd3Mtd2l6LXNlcnAiNkRpYW1hbnQgS29zbWV0aWsgLSBTY2jDtm5oZWl0IG5ldSBlcmxlYmVuIEJyYXVuc2Nod2VpZzIEEAAYRzIEEAAYRzIEEAAYRzIEEAAYRzIEEAAYRzIEEAAYRzIEEAAYRzIEEAAYR0jQDVDfB1jfB3ABeAKQAQCYAQCgAQCqAQC4AQPIAQD4AQHCAgoQABhHGNYEGLAD4gMEGAAgQYgGAZAGCA&sclient=gws-wiz-serp#lrd=0x47aff6652241fb7f:0x2b38557e468741f1,3,,,,">
    <span class="rating__button__stars">★★★★★</span>
    <span class="rating__button__text">Bewerten Sie uns gerne auf Google</span>
  </a>
</div>
