<div class="content align-center">
  <h3 class="h2 align-center">{{'RATING.TITLE' | translate}}</h3>
  <p>
    {{'RATING.TEXT_1' | translate}}
    <br>
    {{'RATING.TEXT_2' | translate}}
    <br>
    {{'RATING.TEXT_3' | translate}}
    <br>
    <br>
    {{'RATING.TEXT_4' | translate}}
  </p>
</div>

<div class="rating align-center">
  <a class="rating__button highlight hover" target="_blank" [href]="link$ | async">
    <span class="rating__button__stars">★★★★★</span>
    <span class="rating__button__text">
      {{'RATING.RATE_US' | translate}}
    </span>
  </a>
</div>
